{% extends 'base.html.twig' %}

{% block title %}Edit PicturesProjet{% endblock %}

{% block body %}
    <h1>Edit PicturesProjet</h1>

    {{ include('pictures_projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pictures_projet_index') }}">back to list</a>

    {{ include('pictures_projet/_delete_form.html.twig') }}
{% endblock %}
