{% block footer %}
    <footer class="page-footer font-small bg-info indigo fixed-bottom">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <div class="col-md-2 mb-3">
                    <h3 class="h5 text-uppercase font-weight-bold">
                        <a href="#!" class="text-primary">Accueil</a>
                    </h3>
                </div>
                <div class="col-md-2 mb-3">
                    <h3 class="h5 text-uppercase font-weight-bold">
                        <a href="#!" class="text-primary">Portfolio</a>
                    </h3>
                </div>
                <div class="col-md-2 mb-3">
                    <h3 class="h5 text-uppercase font-weight-bold">
                        <a href="#!" class="text-primary">Prestations</a>
                    </h3>
                </div>
                <div class="col-md-2 mb-3">
                    <h3 class="h5 text-uppercase font-weight-bold">
                        <a href="#!" class="text-primary">Presse</a>
                    </h3>
                </div>
                <div class="col-md-2 mb-3">
                    <h3 class="h5 text-uppercase font-weight-bold">
                        <a href="#!" class="text-primary">À propos</a>
                    </h3>
                </div>
            </div>

            <hr>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="mb-5 d-flex justify-content-center flex-center">
                        <a class="mx-3" href="https://www.facebook.com/atelierb2bellot/"
                           target="_blank">
                            <img src="{{ asset('build/images/facebook.webp') }}" alt="logo Facebook">
                        </a>
                        <a class="mx-3" href="https://www.pinterest.fr/adelinebellot/"
                           target="_blank">
                            <img src="{{ asset('build/images/pinterest.webp') }}" alt="Logo Pinteret">
                        </a>
                        <a class="mx-3" href="https://www.instagram.com/atelier_b2/?hl=fr"
                           target="_blank">
                            <img src="{{ asset('build/images/instagram.webp') }}" alt="Logo Instagram">
                        </a>
                        <a class="mx-3" href="https://www.houzz.fr/professionnels/architecte-d-interieur/atelier-b2-pfvwfr-pf~1513020942?"
                           target="_blank">
                            <img src="{{ asset('build/images/houzz.webp') }}" alt="logo Houzz">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
