{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
{% block title %}Modification|A propos{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title text-center">Modification a propos</h1>
    {{ include('admin/about/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</div>
<div class="text-center">
    <a class="btn btn-secondary btn"  href="{{ path('about_admin') }}">Retour</a>
</div>
{% endblock %}
