{% extends 'layout_admin.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
{% block title %}Modifier|Prestation{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="title text-center">Modification des Prestations</h1>
        {{ include('admin/prestation/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    <div class="text-center">
        <a class="btn btn-secondary btn" href="{{ path('prestation_admin') }}">Retour</a>
    </div>
{% endblock %}
