{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}Portfolio{% endblock %}
{% block body %}
<section class="bg-primary">
    <h1 class="text-center">ARCHITECTE D'INTERIEUR (HT)</h1>
    <h2>Prestations</h2>
    <h3>DECORATION SHOPPING LIST (HT)</h3>

</section>
{% endblock %}
