{% extends 'layout.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}Portfolio{% endblock %}
{% block body %}
<section class="bg-primary">
    <h1 class="text-center">Prestations</h1>
     {% for prestation in prestations %}
        <p>{{ prestation.prestation }}</p>
    {% endfor %}
</section>
{% endblock %}
