@import "app.scss";

.title {
    padding-top: $spacing-4;
}

.icon {
    justify-content: center;
    max-width: 150px;
}

.vich-file {
    & .form-group{
        display: none;
    }

    & a {
        display: none;
    }
}

label {
    color: $dark;
}

.idImage {
    width: 300px;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Parcourir...";
}
