@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$dark: #674C3A;
$primary: #BEB9B6;
$secondary: #1f2938;
$light: #e8eef1;
$info: rgba(31, 41, 56, 0.9);
$warning: #917344;
$background-opinion: #d4d9dc;
$transparent : rgba(255, 255, 0, 0);
$font-title: 'Montserrat', sans-serif;
$text-font-size: 1rem;
$text-color: #000000;
$footer-font-size: 0.85rem;
$footer-title-size: 1.35rem;
$h1-font-size: 4rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1.2rem;
$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 4;
$spacing-4: $spacing * 8;
$spacing-5: $spacing * 16;
$border-radius: 8px;
$box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
$box-shadow-card: 3px 3px 15px 0px rgba(31, 41, 56, 0.75);
$backgroundOverlay: rgba(0, 0, 0, 0.5);
$width-map: 100%;
$weight-map: 400px;
$width-calendar: 50%;
$height-calendar: 550px;
$addFlash: 70px;
$custom-file-text: (
    en: "Browse",
    es: "Elegir",
    fr: "Parcourir"
);
