<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam atque deserunt dolorum enim, excepturi id
nesciunt nobis nostrum perspiciatis quaerat quas quis, ratione repellendus rerum ut veniam voluptate, voluptatum.
</body>
</html>
